/.idea
/dist
/node_modules
/data
/.do
**/.dockerignore
**/.git
**/.gitignore
**/docker-compose*
**/[Dd]ockerfile*
LICENSE
README.md
.editorconfig
.vscode
.eslint*
.stylelint*
/.github
package-lock.json
app.json

### .gitignore content (commented rules are duplicated)

#node_modules
.DS_Store
#dist
dist-ssr
*.local
#.idea

#/data
#!/data/.gitkeep
#.vscode

### End of .gitignore content
