/.idea
/node_modules
/data
/out
/test
/kubernetes
/.do
**/.dockerignore
/private
**/.git
**/.gitignore
**/docker-compose*
**/[Dd]ockerfile*
LICENSE
README.md
.editorconfig
.vscode
.eslint*
.stylelint*
/.github
yarn.lock
app.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CNAME
install.sh
SECURITY.md
tsconfig.json
.env
/tmp
/babel.config.js
/ecosystem.config.js

### .gitignore content (commented rules are duplicated)

#node_modules
.DS_Store
#dist
dist-ssr
*.local
#.idea

#/data
#!/data/.gitkeep
#.vscode



### End of .gitignore content
