# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude everything:
#
*

# Now un-exclude required files and folders:
#
!src
!public
!dist
!server
!config
!db
!extra
!docker/etc
!index.html
!package.json
!package-lock.json
!.npmrc

### End of .dockerignore content
