node_modules
.DS_Store
dist
dist-ssr
*.local
.idea

/data
!/data/.gitkeep
/data*
.vscode

.wrangler-home/
.wrangler-logs/

/private
/out
/tmp
.env
*.db
*.sqlite
*.sqlite3

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

.vs
.vscode
