# Should be very similar to .dockerignore, but the syntax is a bit different

/.idea
/node_modules
/data
/cypress
/out
/test
/kubernetes
/.do
/.dockerignore
/private
/.git
/.gitignore
/docker-compose*
/[Dd]ockerfile*
.editorconfig
.vs
.vscode
.eslint*
.stylelint*
/.devcontainer
/.github
yarn.lock
app.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CNAME
install.sh
SECURITY.md
tsconfig.json
.env
/tmp
/babel.config.js
/ecosystem.config.js
extra/exe-builder
/public

.DS_Store
dist-ssr
*.local

## .npmignore only, not in .dockerignore
/docker
/extra/healthcheck*
