{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier"
    ],
    "customSyntax": "postcss-html",
    "rules": {
        "no-descending-specificity": null,
        "declaration-empty-line-before": null,
        "alpha-value-notation": "number",
        "color-function-notation": "legacy",
        "shorthand-property-no-redundant-values": null,
        "color-hex-length": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "at-rule-no-unknown": null
    }
}
