$primary: #8373f5;
$danger: #dc3545;
$warning: #f8a306;
$maintenance: #1747f5;
$green-health: #52c67d;
$link-color: #111;
$border-radius: 50rem;
$secondary-text: #aaa;

$highlight: #9385f6;
$highlight-white: #efedfd;

$dark-font-color: #b1b8c0;
$dark-font-color2: #020b05;
$dark-bg: #0d1117;
$dark-bg2: #070a10;
$dark-border-color: #1d2634;
$dark-header-bg: #161b22;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;
